.image-container {
  min-width: 50%;
}

.tags {
  margin: 1rem 0;
}

.tag {
  background-color: #eef;
  padding: 0.3rem 0.6rem;
  margin-right: 0.3rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
