<app-loading></app-loading>

<div class="card sticky top-0 z-5">
  <p-tabMenu [model]="items" />
</div>

<router-outlet>

</router-outlet>

<!--
<footer class="flex justify-content-between align-items-center py-3 px-4">
  <div class="footer-links flex align-items-center justify-content-center">
    <a href="#" class="font-bold m-1 no-underline text-primary">Terms and Conditions</a>
    <a href="#" class="font-bold m-1 no-underline text-primary">Privacy Policy</a>
    <a href="#" class="font-bold m-1 no-underline text-primary">Legal Notice</a>
    <a href="#" class="font-bold m-1 no-underline text-primary">Cookie Policy</a>
  </div>
  <div class="">
    &copy; 2024 YourCompanyName. All rights reserved.
  </div>
</footer>
  -->
